/* Style for the sidebar */
.sidebar {
    background-color: #f8f8fc;  /*light silver */
    color: #002147;
    min-height: 100vh;  /* Full height */
    padding: 0px;
    min-height: 100vh;  /* Full height */
    height: 100vh;  /* Full height */
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    overflow-y: auto; /* Ensures scrollbar appears if content overflows */
    transition: all 0.1s;
    padding: 0px;
}

html, body, .app-container {
    height: 100%;
    margin: 0;
    padding: 0;
}

.full-height-row {
    height: 100vh;
}

.sidebar-col {
    transition: all 0.1s;
    padding: 0px;
    background-color: #f8f8fc; 
    border: 1px solid #002147;  /* Dark navy blue */
}

.main-content-col {
    transition: all 0.1s;
    height: 100vh;  /* Ensure it matches the height of the viewport */
}

.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar.collapsed {
    flex: 0 0 0;
    max-width: 0;
    padding: 0;
}

/* NavLink adjustments for full rectangle highlight */
.sidebar .nav-link {
    color: #002147;
    padding: 12px 20px;  /* Adjust padding to increase the clickable area */
    display: block;  /* Ensure links are block elements to fill the area */
    margin: 5px;  /* Remove any default margin */
    text-decoration: none;  /* Optional: removes underline from links */
    transition: background-color 0.3s ease;  /* Smooth transition for background color */
}

/* Active NavLink styling */
.sidebar .nav-link.active, .sidebar .nav-link:hover {
    background-color: #002147;  /* Dark grey for active NavLink */
    color: #f8f9fa;
}
/* Style for the main content area */
.main-content {
    background-color: #f8f8fc; 
    padding: 5px;
    border: 1px solid #002147;  /* Dark navy blue */
    transition: all 0.8s;
}

.prettier-button {
    background-color: white; /* White background on hover */
    color: #002147; /* Dark blue text on hover */
    border: 1px solid #002147;  /* Dark navy blue */
    font-size: 16px;
    padding: 8px 16px;
    margin-top: 10px;
}

.prettier-button:hover {
    background-color: #002147;
    color: white;
    border: 1px solid white;  /* Dark navy blue */
}

.prettier-button:active {
    background-color: #5b3c88; /* Deep purple background when clicked */
    color: white; /* Keep text white when active */
    border: 1px solid #002147;  /* Dark navy blue */
}


.prettier-button-warn {
    background-color: white; /* White background on hover */
    color: #002147; /* Dark blue text on hover */
    border: 3px solid #cf1d05;  /* Dark navy blue */
    font-size: 16px;
    padding: 8px 16px;
    margin-top: 10px;
}

.prettier-button-warn:hover {
    background-color: #f4a111;
    color: white;
    border: 1px solid white;  /* Dark navy blue */
}

.prettier-button-warn:active {
    background-color: #f64905; /* Deep purple background when clicked */
    color: white; /* Keep text white when active */
    border: 1px solid #002147;  /* Dark navy blue */
}

.label-container {
    margin-bottom: 5px;
    display: block;
}

.label-container label {
    display: block;
    font-weight: bold;
}

.border-top {
    border-top: 5px #002147;
    margin-top: 5px;
    position: relative;
    z-index: 100;  /* Ensure it's above other content if necessary */
}

.border-bottom {
    border-bottom: 5px #002147;
    margin-bottom: 5px;
    position: relative;
    z-index: 100;  /* Ensure it's above other content if necessary */
}

.content-section {
    padding: 5px;
}

.chart-visuals {
    border: 1px solid #002147;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}


/* Style the control box and selected values */
.Select--multi .Select-value {
    background-color: #002147; /* Navy blue */
    color: white; /* White text */
}

/* Style the text of selected values */
.Select--multi .Select-value-label {
    color: white;
}

/* Style for focused and selected options in the dropdown list */
.Select-option.is-focused, .Select-option.is-selected {
    background-color: #004a70; /* A slightly lighter navy blue */
    color: white;
}

/* Adjust the color for other options */
.Select-option {
    color: white;
}


.dash-spinner
{
    border-top-color: #002147 !important;  /* Dark navy blue */
    border-right-color: #002147 !important;  /* Dark navy blue */
    border-bottom-color: #002147 !important;  /* Dark navy blue */
    border-left-color: #002147 !important;  /* Dark navy blue */
    color: #002147 !important; /* This sets the SVG color, which might not always apply depending on the spinner type */
}

/* Specific styles for default loader */
.loading-bar {
    border-top-color: #002147 !important;
    border-right-color: #002147 !important;
    border-bottom-color: #002147 !important;
    border-left-color: #002147 !important; /* Navy blue for the spinning part */
    color: #002147 !important;
}

.ag-root-wrapper {
    background-color: white;  /* Matches the plot and paper bgcolor */
    border: 1px solid #002147;  /* Navy blue border */
}

.ag-root-wrapper .ag-row.ag-row-hover {
    background-color: #002147 !important; /* Navy blue background on hover */
    color: #acd5b4 !important; /* Forces text color to white for better readability */
    text-emphasis-color: white;
}

.ag-header {
    background-color: white;  /* Matches the header to the background */
    color: #002147;  /* Navy blue text for headers */
}

.ag-header-cell {
    border-right: 1px solid #002147;  /* Navy blue lines between header cells */
}

.ag-root-wrapper .ag-ltr .ag-cell {
    border-color: #002147;  /* Navy blue lines for cells */
}

.ag-row-style-changed {
    background-color: yellow !important;
    color: black !important;  /* Adjust text color for readability */
}

.highlight-changed {
    background-color: rgb(212, 166, 102) !important;
    color: black !important;
}

.agedit-button {
    font-size: 32px; 
    color: #002147;
    margin: 10px;
    border: none;
    background: none;
    width: 50px; /* Set the desired width */
    height: 50px; /* Set the desired height to match the width */
    border-radius: 50%; /* Makes the button circular */
    display: flex;
    align-items: center;
    justify-content: center;
    border: none; /* Remove border */
    padding: 0; /* Remove padding */

}

.agedit-button:hover {
    color: #bc0f0f;
    border: none;
    background: none;
}

.agedit-button:active {
    color: white; /* Keep text white when active */
    border: white;
    background: #002147;
    width: 50px; /* Set the desired width */
    height: 50px; /* Set the desired height to match the width */
    border-radius: 50%; /* Makes the button circular */
    display: flex;
    align-items: center;
    justify-content: center;
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
}

.toggle-button {
    font-size: 32px; 
    width: 60px; 
    height: 60px;
    color: #002147;
    margin: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
    border: none;
    background: none;
}

.toggle-button:hover {
    color: #bc0f0f;
    border: none;
    background: none;
}

.toggle-button:active {
    color: white; /* Keep text white when active */
    border: none;
    background: #002147;
    background-color: #002147; /* White background on hover */
}
